@model dynamic
<!DOCTYPE html>
<html>
<body>
    <h1>Welcome, @Model.UserName!</h1>
    <p>Thank you for registering. Please click the link below to verify your account:</p>
    <a href="@Model.VerificationLink">Verify Account</a>
    <p>Best regards,<br>Your App Team</p>
</body>
</html>